<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="wordstudy.dao.MemberDao">
  <sql id="select01">
    select MNO, NIC, EMAIL, PHOT, PW
    from MEMBERS
  </sql>

  <resultMap type="Member" id="MemberMap">
    <id     column="MNO"    property="no"/>
    <result column="NIC"  property="nick"/>
    <result column="EMAIL"  property="email"/>
    <result column="PW"    property="password"/>
    <result column="PHOT"    property="photo"/>
  </resultMap>
  
  <insert id="insert" parameterType="Member">
    insert into MEMBERS(NIC,EMAIL,PW)
    values(#{nick},#{email},#{password})
  </insert>
  
  <update id="update" parameterType="Member">
    update MEMBERS 
       set NIC	=#{nick}
     where EMAIL 	= #{email}
       
    <!-- MNO=#{no}  -->
  </update>

 <update id="pwdChange" parameterType="Member">
    update MEMBERS 
       set PW	    =#{password}
     where EMAIL 	= #{email}
  </update>

	<update id="photChange" parameterType="Member">
    update MEMBERS 
       set PHOT	    =#{photo}
     where EMAIL 	= #{email}
  </update>

  
  <delete id="delete" parameterType="string">
    delete from MEMBERS
    where MNO=#{no}
  </delete>

  <select id="selectList" parameterType="map" resultMap="MemberMap">
    <include refid="select01"/>
    where
    EMAIL=#{email}
  </select>
  
  <select id="selectOne" parameterType="map" resultMap="MemberMap">
    <include refid="select01"/>
      where 
    <if test="no != null">
      MNO=#{no}
    </if>
    <if test="email != null">
      EMAIL=#{email}
    </if>
    <if test="nick != null">
      NIC=#{nick}
    </if>
  </select>
  
  <select id="isMember" parameterType="map" resultType="int">
    select count(*) 
    from MEMBERS
    where EMAIL=#{email} and PW=#{password}
  </select>
  
  <select id="countAll" resultType="int">
    select count(*) 
    from MEMBERS
  </select> 
  
  <select id="mylikes" resultType="int" parameterType="Member">
    <!-- select SUM(IFNULL(LIKES,0)) from my_LOH where mno=#{no} -->
    select IFNULL(SUM(LIKES),0) from my_LOH where mno=#{no}   
  </select>
  
  
</mapper>












